menuconfig INTEL_DATAPATH_HAL_GSWIP31
	bool "Datapath HAL_GSWIP31"
	default y
	depends on INTEL_DATAPATH && PRX300_CQM
	---help---
	  Datapath Lib is to provide common rx/tx wrapper Lib without taking
	  care of much HW knowledge and also provide common interface for legacy
	  devices and different HW like to CBM or LRO.
	  Take note: All devices need to register to datapath Lib first

if INTEL_DATAPATH_HAL_GSWIP31
config INTEL_DATAPATH_HAL_GSWIP31_MIB
	bool "Datapath aggregated mib support"
	depends on INTEL_DATAPATH_HAL_GSWIP30 && SOC_GRX500 && LTQ_TMU && LTQ_PPA_TMU_MIB_SUPPORT
	default y
	---help---
	  It is to aggregate GSWIP-L/R, TMU and driver's MIB counter

config INTEL_DATAPATH_DDR_SIMULATE_GSWIP31
	bool "Datapath Simulation GSWIP3.1 based on GRX500 board"
	default n
	depends on INTEL_DATAPATH_DBG
	---help---
		Datapath Debug Tool for GSWIP DDR simulation
		Only for debugging purpose
		By default it should be disabled.

config INTEL_DATAPATH_DUMMY_QOS
	bool "datapath dummy QOS based on slim QOS driver or real QOS API with PRX300_test API"
	depends on LTQ_PPV4_QOS_SLIM || (LTQ_PPV4_QOS || LTQ_PPV4)

config INTEL_DATAPATH_DUMMY_QOS_VIA_PRX300_TEST
	bool "datapath dummy QOS via ppv4 qos driver's PRX300_test api, like slim driver"
	depends on (LTQ_PPV4_QOS || LTQ_PPV4) && !LTQ_PPV4_QOS_SLIM && INTEL_DATAPATH_DUMMY_QOS

config INTEL_DATAPATH_QOS_HAL
	bool "datapath QOS hal"
	default y
	depends on (LTQ_PPV4_QOS || LTQ_PPV4) && !INTEL_DATAPATH_DUMMY_QOS_VIA_PRX300_TEST
endif
